body {
  overflow: hidden;
}

#welcome-container,
#lobby-container,
#game-container {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
}

.welcome {
  color: white;
  border-radius: 25px;
  width: 800px;
  margin: 250px auto 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

.box-title {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 18px;
  color: white;
}

.off-white {
  color: #aaa;
}

.pale-gray {
  background-color: #e9e9e9;
}

.score-board-name {
  max-width: 24% !important;
}

.text-button {
  border: none;
  background-color: inherit;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: red;
}

.game-button {
  padding: 10px 15px;
  background-color: crimson;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.game-button:hover {
  background-color: rgb(199, 0, 40);
}

.game-button p {
  margin-bottom: 5px;
}

#chat-box {
  margin: 15px 0 15px 15px;
  padding-top: 1px;
  background-color: rgba(0, 0, 0, 0.8);
}

#game-chat-box {
  margin: 5px 0 15px 15px;
  padding-top: 1px;
  background-color: rgba(0, 0, 0, 0.8);
}

#game-box {
  margin: 15px 15px 15px 0;
  padding-top: 1px;
  background-color: rgba(0, 0, 0, 0.8);
}

#game-table-box {
  margin: 15px 0 15px 15px;
  padding: 1px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#point-box {
  margin: 15px 15px 15px 0;
  padding: 1px 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#chat-window,
#game-window {
  background-color: white;
  height: 88.5vh;
  margin: 15px 25px 15px 25px;
}

#game-chat-window {
  background-color: white;
  height: 11.5vh;
  margin: 15px 25px 15px 25px;
}

#game-table-window {
  background-color: #e9e9e9;
  height: 68.8vh;
  margin: 15px 25px 15px 25px;
}

#point-window {
  background-color: white;
  height: 90.8vh;
  margin: 15px 25px 15px 25px;
}

#message-window,
#button-window,
#game-message-window {
  padding-bottom: 20px;
  margin: 0 25px;
}

#message-input,
#game-message-input {
  width: 90%;
}

#send-btn,
#game-send-btn {
  width: 9.5%;
}

#create-btn {
  width: 100%;
}

#chat-output p,
#game-chat-output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#typing-detector p,
#game-typing-detector p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#chat-output strong,
#game-chat-output strong {
  color: #f74646;
}

#game-table-area {
  width: 100%;
  height: 78%;
}

#the-round-table {
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

#player-one {
  position: relative;
  left: 163px;
  top: 353px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #000;
}

#player-two {
  position: relative;
  right: 28px;
  top: 88px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #000;
}

#player-three {
  position: relative;
  left: 163px;
  bottom: 175px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #000;
}

#player-four {
  position: relative;
  left: 355px;
  bottom: 62px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #000;
}

#deck-back {
  position: relative;
  left: 210px;
  bottom: 249px;
  width: 75px;
  height: 100px;
  background-image: url("../assets/cards/deck1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#deck-back:hover {
  transform: scale(1.1);
}

#deck-front {
  position: relative;
  left: 116px;
  bottom: 150px;
  width: 75px;
  height: 100px;
  background-image: url("../assets/cards/king_clubs.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#deck-front:hover {
  transform: scale(1.1);
}

#game-table-square {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-image: url("../assets/images/table1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#player-cards {
  width: 500px;
  height: 21%;
  margin: 0 auto;
  /* background-color: bisque; */
}

#card-one {
  float: left;
  margin: 0 5px;
  height: 100%;
  width: 90px;
  background-image: url("../assets/cards/10_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#card-one:hover {
  transform: scale(1.1);
}

#card-two {
  float: left;
  margin: 0 5px;
  height: 100%;
  width: 90px;
  background-image: url("../assets/cards/jack_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#card-two:hover {
  transform: scale(1.1);
}

#card-three {
  float: left;
  margin: 0 5px;
  height: 100%;
  width: 90px;
  background-image: url("../assets/cards/queen_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#card-three:hover {
  transform: scale(1.1);
}

#card-four {
  float: left;
  margin: 0 5px;
  height: 100%;
  width: 90px;
  background-image: url("../assets/cards/king_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#card-four:hover {
  transform: scale(1.1);
}

#card-five {
  float: left;
  margin: 0 5px;
  height: 100%;
  width: 90px;
  background-image: url("../assets/cards/ace_spades.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#card-five:hover {
  transform: scale(1.1);
}